@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

header h1 {
    text-align: center;
    padding: auto;
    margin-top: 0%;
    color: #e5f7a8;
}

#tittle {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 8px;
}

#subtitle {
    text-align: center;
    margin-bottom: 20px;
    color: #b1dbad;
}

body {
    display:center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #032b30; 
}

.to-do-container {
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}

.input .form-control {
    background: transparent;
    border: none;
    height: 50px;
    border-radius: 5px;
    width: 90%;
    padding: 0px 20px;
    font-size: 16px;
    color: #3e3a42;

    box-shadow: -6px -6px 10px rgb(255, 255, 255, 0.03),
                6px 6px 10px rgb(10, 8, 10, 0.8),
                inset -6px -6px 10px rgb(255, 255, 255, 0.05),
                inset 6px  6px 10px rgb(12, 8, 12, 0.8);
}
.input .form-control:focus {
    outline: none;
}

.add .material-icons {
    background: #36f325;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #161117;
    border-radius: 15%;
    margin-left: 15px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    box-shadow: -6px -6px 10px rgb(255, 255, 255, 0.03),
    6px 6px 10px rgb(10, 8, 10, 0.8),
    inset -6px -6px 10px rgb(255, 255, 255, 0.05),
    inset 6px  6px 10px rgb(12, 8, 12, 0.8);
}

.to-do-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    color: #c8cdfa;
    background: #14282e;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 15px;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.55);
}

.left-cont input {
    display: none;
    cursor: pointer;
}

.left-cont label {
    position: relative;
    cursor: pointer;
}

.left-cont label:before {
    content: '';
    padding: 11px;
    display: inline-block;
    position: relative;
    margin-right: 8px;
    vertical-align: middle;
    background: #412d46;
    border-radius: 3px;
}
.left-cont input:checked + label:before{
    background: #a3fd87;
}

.left-cont input:checked + label:after{
    content: '';
    position: absolute;
    display: inline-block;
    top: 4px;
    left: 8px;
    width: 5px;
    height: 12px;
    border: solid #221525;
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg);
}

.left-cont input:checked ~ span {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: line-through;
}

.remove {
    color: #ff0047;
    cursor: pointer;
    line-height: 1;
    transform: translateY(48px);
    transition: .5s;
}

.remove.active {
    transform: translateY(0px);
    transition: .5s;
}
